body {
    font-family: 'Press Start 2P', cursive;
}

#canvas {
    background-color: rgb(227, 227, 227);
}

#text {
    width: 800px;
    background-color: #FFF;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 10px;
    height: 130px;
    position: absolute;
    top: 510px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#dynamic {
    line-height: 30px;
}